<div id='upper-tabs'>
  <ul class='nav nav-tabs'>
    <li class="nav-item">
      <a href="#by_value" class="nav-link active" data-toggle="tab">Value</a>
    </li>

    <li class="nav-item">
      <a href="#by_total_points" class="nav-link " data-toggle="tab">Total Points</a>
    </li>

    <li class="nav-item">
      <a href="#by_points_per_game" class="nav-link " data-toggle="tab">Points Per Game</a>
    </li>
  </ul>
  <div class='tab-content'>
    <div class="tab-pane fade show active" id="by_value">
      by_value_content_place_holder
    </div>
    <div class="tab-pane fade show" id="by_total_points">
      by_total_points_content_place_holder
    </div>
    <div class="tab-pane fade show" id="by_points_per_game">
      by_points_per_game_content_place_holder
    </div>
  </div>
</div>